// ----------------------------------------------------------------------------------------------
// SECTION Variables ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// INFO:  Project ---------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// INFO:  Colors ----------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------------
// INFO:  Bootstrap -------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------

// INFO:  Utilities -------------------------------------------------------------------------------

$utilities: (
  "cursor": (
    property: cursor,
    class: cursor,
    responsive: false,
    values: pointer,
  )
);

// INFO:  Color system ----------------------------------------------------------------------------

// $primary: #375F9B;
$secondary: #8492A6;
$text-muted: #ACA7AA;
$info: #375F9B; // #3C78DA;
$danger: #D0021B;
$success: #12a366;
$min-contrast-ratio: 2.5;

// INFO:  Body ------------------------------------------------------------------------------------

// INFO:  Grid ------------------------------------------------------------------------------------

// INFO:  Borders ---------------------------------------------------------------------------------

// INFO:  Typography  -----------------------------------------------------------------------------

// INFO:  Links -----------------------------------------------------------------------------------
// INFO:  Badges ----------------------------------------------------------------------------------
// INFO:  Buttons ---------------------------------------------------------------------------------

$btn-close-color: white;

// INFO:  Navbar ----------------------------------------------------------------------------------
// INFO:  Navs ------------------------------------------------------------------------------------

// INFO:  Modal -----------------------------------------------------------------------------------

// INFO:  Dropdowns -------------------------------------------------------------------------------
// INFO:  Cards -----------------------------------------------------------------------------------

// INFO:  List group ------------------------------------------------------------------------------
// INFO:  Pagination ------------------------------------------------------------------------------
// INFO:  Popovers --------------------------------------------------------------------------------
// INFO:  Typography ------------------------------------------------------------------------------
// INFO:  Forms -----------------------------------------------------------------------------------

// INFO:  Tables ----------------------------------------------------------------------------------

// !SECTION Variables
